body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, 480px);
	grid-template-rows: 1fr 4fr;
	width: 100%;
	height: 100%;
	max-width: 1440px;
	background: #F3F5FC;
}

header {
	grid-column: 1/2;
	grid-row: 1/2;
}

.header-section {
	margin-left: 40px;
	margin-top: 40px;
}

main {
	grid-column: 1/2;
	grid-row: 2/3;
}

.main-section {
	height: 100%;
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	justify-content: flex-end;
}

.main-article {
	width: 100%;
	/*min-width: 369px;*/
	max-width: 680px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-area {
	width: 100%;
	background: #F3F5FC;

	color: #0A3871;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;

	outline: none;
	border: none;

	resize: none;
}

.text-area::placeholder {
	color: #0A3871;
}

.exclamation {
	width: 100%;
	max-width: 329px;
	height: 18px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 8px;
	margin-bottom: 16px;
}

.exc-img {
	width: 16px;
	height: 16px;
}

.exc-text {
	width: 205px;
	height: 18px;

	color: #495057;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 150%;	

	opacity: 0.8;
}

.buttons {
	width: 100%;
	height: 67px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 24px;
	margin-bottom: 72px;
}

.btn-encrypt {
	width: 100%;
	min-width: 182px;
	max-width: 328px;
	height: 67px;
	background: #0A3871;
	border-radius: 24px;

	color: #FFFFFF;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	text-align: center;

	outline: none;
	border: none;
}

.btn-decrypt {
	width: 100%;
	max-width: 328px;
	min-width: 182px;
	height: 67px;
	background: #F3F5FC;
	border-radius: 24px;

	color: #0A3871;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	text-align: center;

	outline: none;
	border: 1px solid #0A3871;	
}

aside {
	grid-column: 2/3;
	grid-row: 1/3;
}

.aside-section {
	width: 100%;
	height: 100%;
	display: flex;	
	justify-content: flex-end;
}

.aside-message, .aside-response {
	width: 100%;
	max-width: 336px;
	background: #FFFFFF;
	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
	padding: 32px;
	margin: 40px 40px 40px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.box-muñeco {
	width: 100%;
}

.muñeco-img {
	max-width: 100%;
	height: auto;
}

.box-message {
	width: 100%;
}

.message-1 {
	width: 100%;
	height: auto;
	margin-bottom: 16px;

	color: #343A40;

	font-family: 'Inter';
	font-weight: 700;
	font-size: 26px;
	line-height: 120%;

	text-align: center;
}

.message-2 {
	width: 100%;
	height: auto;

	color: #495057;

	font-family: 'Inter';
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;

	text-align: center;
}

.aside-response {
	justify-content: space-between;	
	gap: 64px;
}

.box-response {
	width: 100%;
	overflow-y: auto;
}

.response {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;

	color: #495057;

	word-break: break-word;
}

.box-copy {
	width: 100%;
}

.btn-copy {
	width: 100%;
	height: 67px;
	min-width: 187px;
	background: #FFFFFF;
	border-radius: 24px;

	font-family: 'Inter';
	font-weight: 400;
	font-size: 17px;
	line-height: 19px;
	text-align: center;

	color: #0A3871;

	border: 1px solid #0A3871;
}

.aside-message.none, .aside-response.none {
	display: none;
}


@media screen and (max-width: 768px) {
	.container {
		height: auto;
		max-width: 768px;
		max-height: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.header-section {
		width: 688px;
		margin-top: 73.42px;
		margin-left: 0;
		margin-bottom: 116px;
	}

	main {
		height: 100%;
	}

	.main-section {
		margin-left: 0;
	}

	.text-area{
		width: 688px;
		height: auto;
	}

	.exclamation {
		width: 229px;
	}

	.buttons {
		width: 688px;
		margin-bottom: 64px;
	}

	.btn-encrypt {
		width: 332px;
	}

	.btn-decrypt {
		width: 332px;
	}

	aside {
		padding: 0px;
	}

	.aside-section {
		width: 688px;
		height: auto;
	}

	.aside-message {
		width: 100%;
	}

	.message-1 {
		width: 624px;
		height: 29px;
	}

	.message-2 {
		width: 624px;
		height: 24px;
	}

	.aside-response {
		max-height: 350px;
		width: 100%;
	}

	.box-response {
		width: 100%;
	}

	.box-copy {
		width: 100%;
	}

	.btn-copy {
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	.container {
		max-width: 375px;
	}

	header {
		justify-self: center;
	}

	.header-section {
		width: 347px;
	}

	.text-area{
		width: 343px;
	}

	.exclamation {
		width: 252px;
	}

	.buttons {
		width: 343px;
		height: 158px;
		flex-direction: column;
		justify-content: center;
	}

	.btn-encrypt {
		width: 343px;
	}

	.btn-decrypt {
		width: 343px;
	}

	.aside-section {
		width: 327px;
	}

	.message-1 {
		width: 263px;
		height: 58px;
		font-size: 24px;
	}

	.message-2 {
		width: 263px;
		height: 48px;
		font-size: 16px;
	}
}